{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="row">
            <div class="col-6 offset-3">
            <div class="card">
                <h1>{{ object.title|title }}</h1>
                <img style="width: 200px;" src="{{ object.img.url }}" class="card-img-top" alt="">
                <hr/>
                <p class="padding: 10px;">
                    <span><i class="fas fa-eye ml-2"></i>{{ object.get_view_count }}</span>
                    <span><i class="fas fa-comments ml-2"></i>{{ object.get_comment_count }}</span>
                    <span><i class="fas fa-thumbs-up fa-lg"></i>{{ object.get_like_count }}</span>
                </p>
                <hr />
                <p class="padding: 10px;">{{ object.content }}</p>
                <hr />
                <h4>Enjoyed this book?</h4>
                <a class="text-muted" href="{{  object.get_like_url }}"><i class="fas fa-thumbs-up fa-lg"></i>{{ object.get_like_count }}</a>
                <br>
                {% if request.user.is_authenticated %}
                    <a class="btn btn-warning" href="{{ object.get_absolute_url }}delete">Delete</a><br />
                    <a class="btn btn-info" href="{{ object.get_absolute_url }}update">Update</a>
                    <h4> Leave a comment below</h4>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Comment</button>
                    </form>
                {% else %}
                    <h4>To leave a comment, you need to sign in</h4>
                    <a href="{% url 'login'%}" class="btn btn-primary btn-block">Sign in</a>
                {% endif %}
                <hr/>
                 <h5>Comments</h5>
                {% for comment in object.commentss %}
                    <div>
                        <p>{{ comment.content }}
                        <br />
                        <small>Some time ago</small>
                        </p>
                    </div>
                    <hr/>
                {% endfor %}
            </div>
            </div>
        </div>
{% endblock %}